{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'coffeeshop/style.css' %}" />

{% if all_order %}
    <h1>History Order</h1>
    <table>
    <tr>
        <th>Menu Name</th>
        <th>Size</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Order Date</th>
        <th>Total</th>
    </tr>
    {% for order in all_order %}
    <tr>
        <td>{{ order.menu__menu_text }}</td>
        <td>{{ order.menu__size_text }}</td>
        <td>{{ order.menu__price }}</td> 
        <td>{{ order.order }}</td>
        <td>{{ order.order_date }}</td>
        <td>{{ order.total }}</td>
    </tr>
    {% endfor %}
    </table>
    <h4>Total Sales : {{ total_order }}</h4>
{% else %}
    <p>No Order detected.</p>
{% endif%}

<a href="{% url 'index' %}"><< Back</a>